In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carutapera,BR,2021-09-05 21:16:52,-1.1950,-46.0200,79.86,78,40,9.35
1,1,Taoudenni,ML,2021-09-05 21:16:53,22.6783,-3.9836,102.04,9,2,7.70
2,2,Rikitea,PF,2021-09-05 21:16:53,-23.1203,-134.9692,74.25,76,88,13.31
3,3,Saint George,US,2021-09-05 21:16:53,37.1041,-113.5841,101.79,15,1,1.01
4,4,Cobija,BO,2021-09-05 21:16:54,-11.0267,-68.7692,83.21,59,91,3.09

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#    locations = [latitude, longitude]

# 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
# fig

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
# fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.80)

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carutapera,BR,2021-09-05 21:16:52,-1.1950,-46.0200,79.86,78,40,9.35
4,4,Cobija,BO,2021-09-05 21:16:54,-11.0267,-68.7692,83.21,59,91,3.09
8,8,Saraza,PH,2021-09-05 21:16:55,8.7356,117.7800,78.62,84,76,2.62
18,18,Hambantota,LK,2021-09-05 21:16:59,6.1241,81.1185,78.76,83,100,18.34
22,22,Atuona,PF,2021-09-05 21:17:01,-9.8000,-139.0333,78.10,75,31,18.52
29,29,Bantogon,PH,2021-09-05 21:17:03,6.5333,124.0333,77.31,85,100,3.31
33,33,Tautira,PF,2021-09-05 21:17:05,-17.7333,-149.1500,82.42,72,27,12.50
39,39,Barcelos,PT,2021-09-05 21:17:08,41.5388,-8.6151,75.92,61,16,3.42
41,41,Bogande,BF,2021-09-05 21:17:09,12.9714,-0.1436,81.00,69,79,5.32
45,45,Pundaguitan,PH,2021-09-05 21:17:11,6.3711,126.1689,81.90,69,100,6.60

In [30]:
preferred_cities_df.count()

City_ID       183
City          183
Country       183
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [38]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0    Carutapera      BR     79.86  -1.1950  -46.0200
4        Cobija      BO     83.21 -11.0267  -68.7692
8        Saraza      PH     78.62   8.7356  117.7800
18   Hambantota      LK     78.76   6.1241   81.1185
22       Atuona      PF     78.10  -9.8000 -139.0333
29     Bantogon      PH     77.31   6.5333  124.0333
33      Tautira      PF     82.42 -17.7333 -149.1500
39     Barcelos      PT     75.92  41.5388   -8.6151
41      Bogande      BF     81.00  12.9714   -0.1436
45  Pundaguitan      PH     81.90   6.3711  126.1689

In [50]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [55]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Carutapera,BR,79.86,-1.1950,-46.0200,Lidera
4,Cobija,BO,83.21,-11.0267,-68.7692,Hotel Obelisco
8,Saraza,PH,78.62,8.7356,117.7800,Farmqo Beach (Matangkay)
18,Hambantota,LK,78.76,6.1241,81.1185,Bungalow 63
22,Atuona,PF,78.10,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...
541,Nisia Floresta,BR,80.98,-6.0911,-35.2086,Rancho Crepusculo
542,Oranjestad,AW,84.15,12.5240,-70.0270,Divi Village Golf & Beach Resort
544,Hopelchen,MX,87.08,19.7667,-89.8500,Hotel Jaguar
547,Sao Francisco,BR,86.31,-15.9486,-44.8644,Hotel Supremo
551,Puerto Escondido,MX,88.63,15.8500,-97.0667,Aldea del Bazar Hotel and Spa

In [57]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [60]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [61]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))