## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [28]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
del vacation_df['City_ID']
del vacation_df['City_ID.1']
vacation_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Rikitea,PF,-23.1203,-134.9692,73.04,78,96,8.12,overcast clouds
1,Vestmannaeyjar,IS,63.4427,-20.2734,52.79,82,40,12.66,scattered clouds
2,Cap Malheureux,MU,-19.9842,57.6142,71.47,69,5,5.99,clear sky
3,Iberia,US,29.9502,-91.7507,82.98,89,1,4.61,clear sky
4,Bluff,NZ,-46.6000,168.3333,45.81,87,100,28.36,overcast clouds

In [31]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_list = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

711

In [33]:
# 4a. Add a marker layer for each city to the map. 
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_list)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [423]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# South River
# Freeport
# Mastic Beach
# Westport
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.



vacation_start = vacation_df.loc[(vacation_df['City'] == 'South River')]
vacation_end = vacation_df.loc[(vacation_df['City'] == 'South River')]
vacation_stop1 = vacation_df.loc[(vacation_df['City'] == 'Freeport')]
vacation_stop2 = vacation_df.loc[(vacation_df['City'] == 'Mastic Beach')]
vacation_stop3 = vacation_df.loc[(vacation_df['City'] == 'Westport')]
vacation_start

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
523,South River,US,40.4465,-74.386,82.26,72,41,4.0,scattered clouds

In [615]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.



start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]


end

(40.4465, -74.386)

In [629]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Latitude-longitude pairs
SouthRiver = start
Freeport = stop1
MasticBeach = stop2
Westport = stop3
SouthRiverEnd = end


fig = gmaps.figure()
SouthRiver2SouthRiverdrive = gmaps.directions_layer(
        SouthRiver, SouthRiverEnd, waypoints=[Freeport, MasticBeach, Westport],
        travel_mode= 'DRIVING')
fig.add_layer(SouthRiver2SouthRiverdrive)


SouthRiver2SouthRiverbike = gmaps.directions_layer(
        SouthRiver, SouthRiverEnd, waypoints=[Freeport, MasticBeach, Westport],
        travel_mode= 'BICYCLING')
fig.add_layer(SouthRiver2SouthRiverbike)


SouthRiver2SouthRiverwalk = gmaps.directions_layer(
        SouthRiver, SouthRiverEnd, waypoints=[Freeport, MasticBeach, Westport],
        travel_mode= 'WALKING')
fig.add_layer(SouthRiver2SouthRiverwalk)

fig

Figure(layout=FigureLayout(height='420px'))

In [636]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,South River,US,40.4465,-74.3860,82.26,72,41,4.00,scattered clouds
1,Freeport,US,40.6576,-73.5832,81.48,76,1,8.99,clear sky
2,Mastic Beach,US,40.7668,-72.8521,81.30,78,1,4.00,clear sky
3,Westport,US,41.1415,-73.3579,81.16,80,1,1.99,clear sky

In [644]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_list = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
itinerary_df_lats_lngs = itinerary_df[["Lat", "Lng"]]

       Lat      Lng
0  40.4465 -74.3860
1  40.6576 -73.5832
2  40.7668 -72.8521
3  41.1415 -73.3579

In [689]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df_lats_lngs[["Lat", "Lng"]]
fig = gmaps.figure(center=(41, -73), zoom_level=8)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_list)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

#####